:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --button-color: #FFFFFF;
  --btn-bgd-color: #F5F4FA;
  --bgd-color: #FFFFFF;
  --logo-color: #000000;
  --hero-bgd: #2F303A;
  --section-bgd: #F5F4FA;
  --footer-bgd: #2F303A;
  --border-color: #EEEEEE;
  --socials-color: #AFB1B8;
}
ul {
  list-style: none;  
}
ul, li, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}


/* Колір основного тексту
color: #212121  - main
color: #757575 - text
color: #2196F3 - accent
color:#FFFFFF - hero
color:  #2196F3, #FFFFFF - logo
color: rgba(255, 255, 255, 0.6) - adress   
fill: FFFFFF
fill our team: F5F4FA
fill footer: 2F303A    */

body {
  color: var(--primary-text-color);
  background-color: var(--bgd-color);

  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-display: swap;
}
.container {
  width: 1200px;
  align-items: center;
  margin: 0 auto;
  /* background-color: lime; */
  padding-left: 15px;
  padding-right: 15px;
}
/* logo */
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: #ECECEC solid 1px;
}
.logo-blue {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo {
  color: var(--logo-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover{
  color: var(--accent-color);
  
}
.logo-blue:hover {
  color: var(--title-text-color);
  
}

.logo, .logo-blue {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  }

/* site-nav */

.link {
color: var(--title-text-color);
position: relative;

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current::after{
  content: "";
  position: absolute;
  top: 45px;
  left: 0;
  display: block;
  width: 100%;
  height:4px;
  background-color:rgba(33, 150, 243, 1); 
  border-radius: 2px;
}

.contact {
  color: var(--primary-text-color);  
}
.nav, .nav-list, .contact-list{
  display: flex;
  align-items: center;
}
.nav-list{
  margin-left: 93px;
}
.nav-list .nav-items +.nav-items {
  margin-left: 50px;
}

.contact-list {
  margin-left: auto;
}
.contact-list .contact-items + .contact-items{
  margin-left: 50px;
}

.smart{
  margin-right: 10px;
  fill: currentColor;
}

.link:hover,
.link:focus{
color: var(--accent-color);
}
.link:hover + .smart,
.link:focus + .smart{
fill:var(--accent-color);

}

/* hero */
.hero{  
  background-color:var(--hero-bgd); 

  padding-top: 200px;  
  padding-bottom: 200px;
}
.overlay{
  max-width: 1600px;
  margin: 0 auto;
  /* outline: 1px solid black;   */
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ),
    url(../images/bgd.jpg);
    
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



.hero .hero-title {
  width: 700px;
  color: var(--button-color); 
  margin: 0 auto; 
  margin-bottom: 30px;  

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  display: block;  
  color: var(--button-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border: inherit;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  margin: 0 auto;  

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;  
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  color: var(--title-text-color);
  background-color: var(--btn-bgd-color);
}
.backdrop{
  position: fixed;
  top: 0;
  left:0;

  width: 100%;
  height: 100%;
  z-index: 10;  
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 1.172;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 12px;
}
.form{
  display: block;
  width: 448px;  
  /* outline: 1px solid tomato; */
  margin: 0 auto;
}

.form-label{
  position: relative;

  display: block;
  
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.form-coment{
  
  width: 100%;
  height: 138px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  margin-top: 4px;
  padding: 12px 16px;

  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.form-coment:focus{
  outline: 1px solid #2196F3;
}
.form-checkbox{  
    appearance: none;
}
.link-policy{
  
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.form-label-checkbox{  
  display: block;
  font-size: 14px;
  line-height: 1.71; 
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 20px;  
}
.form-check{
  display: block;
  position: absolute;
  top: 430px;
  left: 40px;  
  width: 16px;
  height: 15px;
  border: 2px solid rgba(33, 33, 33, 1);
  border-radius: 4px; 
}
.form-vector{
  position: absolute;
  top: 2px;
 
}

.form-checkbox:checked + .form-check{
  background-color: #2196F3;  
  background-image: url(../images/svg/Vector.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  border-color: #2196F3;
}

.form-input{  
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  padding-right: 12px;
}

.form-input:focus + .form-svg{
  fill:#2196F3;
}
.form-svg{
  position: absolute;
  top: 25px;
  left: 12px;
  
  width: 18px;
  height: 18px;
  fill:var(--title-text-color);
}


.form-input:focus{  
  outline: 1px solid #2196F3;
}
.modal {  
  position: absolute;  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 

  width: 528px;
  height: 581px;
  padding: 40px;
   

  background-color: rgba(255, 255, 255, 1);
  box-shadow: 
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop.is-hidden .modal{
transform: translate(-50%, -50%) scale(0.7);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close{
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
   align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  
}
.modal-close:hover,
.modal-close:focus{
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close:hover .modal-close-svg,
.modal-close:focus .modal-close-svg {
  fill: var(--button-color);  
}

.modal-close-svg{
  fill: #000000; 
}

/* Section Особенности*/
.section{
  padding-top: 94px; 
  padding-bottom: 94px; 
}

.visually-hidden {
  position: absolute; 
  width: 1px; 
  height: 1px; 
  margin: -1px; 
  border: 0; 
  padding: 0; 
  white-space: nowrap; 
  clip-path: inset(100%); 
  clip: rect(0 0 0 0); 
  overflow: hidden; 
} 
  .list{
  display: flex;
  flex-wrap: wrap; 
}

 .feach-list{
  width: calc((100% - 90px) / 4);  
}

.list .feach-list + .feach-list{
  margin-left: 30px;
}

.feach-contain{
  display: flex;
  background-color: var(--btn-bgd-color);
  padding: 25px 100px;
  margin-bottom: 30px;
  border-radius: 4px;
}
.feach-svg{
  align-items: center;
  margin: 0 auto;
}

/* Секция чем ми занимаемся */

.section-doing{
  padding-bottom: 94px;
}

.list .feachers-list + .feachers-list{
  margin-left: 30px;
}

.section-title, .team-title {
  color: var(--title-text-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.feachers-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.feachers-list{
  position: relative;
}
.describe-doing{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 70px;
  color: var(--button-color);
  background-color: rgba(47, 48, 58, 0.8);
  box-shadow:
  0px 4px 4px 0px rgba(0, 0, 0, 0.25),
  0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

/* Секция наша команда */
.section-bgd{
  background-color: var(--section-bgd);
  padding-top: 94px;
  padding-bottom: 94px;
}
.team{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-title {
  color:var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;  
}

.team-position {
  font-size: 16px;
  line-height: 1.18;
  margin-top: 10px;
  margin-bottom: 16px;
}
.item-socials + .item-socials{
margin-left: 10px;
}

.link-socials{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: var(--socials-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-socials{
  display: flex;
  justify-content: center; 
}
.item-socials{
  width: 44px;
  height: 44px;
}

.link-socials:hover,
.link-socials:focus {
  background-color: #2196F3;
  fill: var(--button-color);   
}
.feachers-list{
  background-color: var(--button-color);  
  box-shadow: 
   0px 1px 3px rgba(0, 0, 0, 0.12),
   0px 1px 1px rgba(0, 0, 0, 0.14),
   0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;  
}
/* Постоянные клиенты */

.list{
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients-list + .clients-list{
  margin-left: 30px;
}

.clients-svg {
  fill: rgba(175, 177, 184, 1); 
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.clients-link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px; 
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover .clients-svg,
.clients-link:focus .clients-svg{
  fill: var(--accent-color);  
}
.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);  
  
}

  /* footer */
  .foot{
    display: flex;
    align-items: baseline;
  }
  .list-socials-footer{
    display: flex;
    margin-top: 20px;
  }
  .item-socials-footer{
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
  }
  .link-socials-footer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    fill: var(--button-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

  }
  .link-socials-footer:hover,
  .link-socials-footer:focus{
  background-color: #2196F3;
  
}
  .item-socials-footer + .item-socials-footer{
    margin-left: 10px;
  }

 .footer {
  background-color:var(--footer-bgd);
  padding-top: 60px;
  padding-bottom: 60px;  
  }
 
  .footer-socials{
  color: var(--button-color);  
  margin-left: 70px;  
}
 
  .adress-street{
    margin-top: 20px;
    margin-bottom: 9px;
  }
.footer .logo {
  color: var(--button-color); 
}
.logo-foot:hover,
.logo-foot:focus {
  color: var(--accent-color);  
}
.adress .adress-street {
color: var(--button-color);
font-style: normal;
}
.adress .adress-mail {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal; 
}
.adress .adress-phone {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  margin-top: 9px;
}

.footer-form{
 display: flex;
 position: relative;
  margin-left: 93px;
}
.footer-form-label{
  width: 358px;
  /* margin-right: 12px; */
  
  font-weight: 700; 
  font-size: 14px;
  line-height: 1.43;
  color: var(--button-color);  
}
.footer-form-input{
  width: 358px;
  height: 50px;
  margin-top: 20px;
  
  color: var(--button-color);
  background-color: rgba(47, 48, 58, 1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.footer-form-button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40px;
    left: 370px;
    width: 200px;
    height: 50px;      

    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    color: var(--button-color);
    background-color: var(--accent-color);
    border: var(--accent-color);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  .button-icon{
    padding-top: 10px;  
    padding-left: 10px;    
  }

  .button-svg{
   fill: var(--button-color);
  }


  .footer-form-button:hover,
  .footer-form-button:focus{
   color: var(--title-text-color);
  background-color: var(--btn-bgd-color);  
  }
  .footer-form-button:hover .button-svg,
  .footer-form-button:focus .button-svg{
  
    fill:var(--title-text-color);
  }
/* Сторінка портфоліо */

/* buttons */

.buttons {
  color: var(--title-text-color);
  background-color: var(--btn-bgd-color);
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 4px;
  border: inherit;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}
.buttons:hover,
.buttons:focus {
  color: var(--button-color);
  background-color: var(--accent-color);
  box-shadow:
  0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}


.feachers-card {  
  text-decoration: none;
}


.feachers-card:hover,
.feachers-card:focus { 
  box-shadow:
  0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
  /* transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.feachers-card-img{
position: relative;
overflow: hidden;
}

.feachers-card-hover{
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;  
  transform: translateY(100%);  
  
  width: 100%;
  height: 100%;
  color: var(--button-color);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}

.feachers-card-img:hover .feachers-card-hover{
  
  transform : translateY(0);  
}


.but-list{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.but-list .but +.but{
 margin-left: 8px;
}
.list .feachers-img{ 
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.feachers-img:nth-child(3n){
  margin-right: 0;
}
.feachers-img:nth-child(n+7){
  margin-bottom: 0;
}
.name{
  width: 370px;  
  padding: 20px 24px;
  border: var(--border-color) solid 1px; 
}
img {
  display: block;
  max-width: 100%;
  height: auto;  
}

.section-name {
  color: var(--title-text-color);  
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;  
}
.section-post {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}